@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.tsx';

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    cursor: default;
}

::selection {
    background-color: #22c55e;
    color: #000;
}
